<head>
    <link rel="stylesheet" href="<?php echo asset_url(); ?>css/header.css" />
    <script>
    $(document).ready(function() {
        $( '.dropdown' ).hover(
            function(){
                $(this).children('.sub-menu').slideDown(200);
            },
            function(){
                $(this).children('.sub-menu').slideUp(200);
            }
        );
    }); // end ready
</script>
</head>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#btn-collapse-nav" aria-expanded="false">
                <span class="sr-only">Recolher barra de navegação</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="Perfil"><img src="<?php echo base_url(); ?>assets/img/logo-shyme-branco.png" height=35px></a>
        </div>  
        
        <div class="collapse navbar-collapse" id="btn-collapse-nav">
            
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <div align="center" class="sc-bar">
                        <input id="sc_box" class="form-control sb_input" type="text" name="q" placeholder="Procurar" />
                        
                        <button type="submit" class="btn btn-default sb_search">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                    
                    
                    <div class="sb_dropdown">
                		<div class="radio">
                		    <label for="Usuario"><input type="radio" name="qType" id="sc_usr"/>Usuario</label>
            		    </div>
            		    <div class="radio">
                		    <label for="Grupo"><input type="radio" name="qType" id="sc_grp"/>Grupo</label>
                		</div>
                    </div>
                </div>
                
                
            </form>
         

            <ul class="nav navbar-nav navbar-right dropdown-ul"><!-- Dropdown Usuario.-->
                <div id="container-moeda">
                    <img src="<?php echo asset_url(); ?>img/coin.png" " />
                    <p> <?php 
                    if(isset($moeda)){
                        foreach ($moeda as $m) {
                           echo $m['vl_moeda'];
                        }
                    }                            
                    ?>
                    </p>
                </div>
                <li class="icon-li">
                    <a href="#"class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon bell icon-nav glyphicon-bell"></span></a>
                    <ul class="dropdown-menu dropdown-notification">
                    <?php 
                    if (isset($notificacao)) {
                    foreach($notificacao as $n)
                    {?>
                        <?php if ($n['tp_notificacao'] == 4) { ?>
                            <a href="Duvida?id=<?php echo $n['cd_postagem_notificacao']; ?>"><div class="notification-objeto">
                       <?php }else{ ?>
                        <a href="Notificacao?id=<?php echo $n['cd_notificacao']; ?>"><div class="notification-objeto">
                         <?php } ?>   
                         <table>
                                                
                                <tr>
                                    <td rowspan=2><img class="media-object img-notification" src="<?php echo $n['img_tipo_notificacao']; ?>" alt="Icone usuario"></td>
                                    <td ><h4 class="media-heading titulo-notification"><?php echo $n['ds_tipo_notificacao']; ?></h4></td>
                                </tr>
                                <tr>
                                     <td ><p class="descricao-notification"><?php echo $n['ds_notificacao']; ?> </p></td>
                                </tr>
                                <?php if ( $n['tp_notificacao'] == 1) { ?>
                                  <center>
                                   <tr >
                                     <td colspan=3><p class="descricao-notification"><center> CLIQUE AQUI PARA RESPONDER </center></p></td>
                                    </tr>
                                    </center>
                                 <?php } ?>
                            </table>
                        </div>
                        <?php }} ?>
                       
                        <li role="separator" class="divider"></li>

                              <?php
                        /*
                            Poderá fazer o sair com o $_GET['sair'];
                            usando um 
                            
                            
                            if(isset($_GET['sair']){
                                $logout = $_GET['sair'];
                                if($logout==1){
                                    metodo para destruir a session, não sei como é em codeIgniter
                                }
                            }
                        */
                        ?>
                        
                        <li><a href="Notificacao">Ver Mais</a></li> <!-- Fechar a session quando clicar em sair, ver acima -->
                    </ul>
                </li>
                <li class="icon-li">
                    <a href="Perfil"  role="button" ><span class="glyphicon home icon-nav glyphicon-home"></span></a>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><?php// echo strtok($_SESSION['nome'], ' ')?><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Pontuação</a></li>
                        <li role="separator" class="divider"></li>
                        
                        <?php
                        /*
                            Poderá fazer o sair com o $_GET['sair'];
                            usando um 
                            
                            
                            if(isset($_GET['sair']){
                                $logout = $_GET['sair'];
                                if($logout==1){
                                    metodo para destruir a session, não sei como é em codeIgniter
                                }
                            }
                        */
                        ?>
                        <li><a href="logout">Sair</a></li> <!-- Fechar a session quando clicar em sair, ver acima -->
                    </ul>
                </li>
            <!-- fim dropdown -->
            <!--Alteração-->
            <!-- Dropdown Usuario.-->
                
            
                
            
                
            </ul>
            
        </div>
        
    </div>
    <script src="<?php echo asset_url(); ?>js/header.js"></script>
    <script src="<?php echo asset_url(); ?>js/jquery.min.js"></script>

</nav>
