.acoes-grupo span {
    margin-right: 20px;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}
.navegacao-grupo{
    width: 100%;
    margin-bottom: 40px;
}
.navegacao-grupo div{
    background: #FFF;
    font-size: 24px;
    border: 1px solid #147f85;
    color: #147f85;
    width: 45%;
    display: inline-block;
    text-align: center;
    padding: 5px 0;
}

.navegacao-grupo div:hover{
    background: #e4f6f7;
}
.navegacao-parceiro{
	width: 100%;
    margin-bottom: 40px;
}
.navegacao-parceiro div{
        background: #FFF;
    font-size: 24px;
    margin-left: 5%;
    border: 1px solid #147f85;
    color: #147f85;
    width: 25%;
    display: inline-block;
    text-align: center;
    padding: 5px 0;
}

.navegacao-parceiro div:hover{
    background: #e4f6f7;
}
.btn-posts button{
        background: #FFF;
    font-size: 14px;
    border: 1px solid #147f85;
    color: #147f85;
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
    margin-right: 2% !important;
}

.btn-posts button:hover{
    background: #e4f6f7;
}

#selected{
    background: #147f85;
    color: #FFF;
}
#postagens-grupo{
	padding: 30px
}
#postagens-grupo .shyme-box{
	margin:  20px 0
}
#postagens-grupo form .shyme-box{
	margin:   0
}

#postagens-grupo form input{
	padding: 5px 15px
}

.form-posts{
	margin: 100px 0 50px;
    width: 100%;
    position: relative;
    display: none;
    border: 1px solid #147f85;
}
.form-posts textarea{
	width: 100%;
    height: 100px;
    z-index: 2;
    position: relative;
    border-bottom: 1px solid #147f85;
    padding: 10px;
}
.form-acao{
	padding: 5px 0 10px;
}
.form-acao img{
	width: 32px;
    cursor: pointer;
    transition: 0.3s;
}
.form-acao img:hover{
	width: 33px;
}

.form-acao button{
    padding: 10px !important;
    border-radius: 0 !important;
    float: right;
    width: 150px;
    font-size: 14px;
}


.moeda_duvida div{
    padding: 10px 15px;
    /*margin-right: 10px;*/
    width: 90%;
    color: #147f85;
    border: 1px solid #147f85;
    text-align: center;
    font-size: 16px;
    color: #147f85;
}
.btn-membro button{
    padding: 10px 15px;
    border-radius: 0px;
    margin-right: 20px;
}


.membro-box{
    margin-top: 25px;
    display: table;
    width: 100%;
}
.membro-box p a{
    font-weight: 900;
    word-break: break-word;
    font-size: 1.1vw;
}
.membro-box p{
    font-size: 1vw;
    margin: 0;
    word-break: break-word;
}
.pesquisa-membro{
    position: relative;
    min-height: 50px;
    width: 100%;
}
.pesquisa-membro input{
    position: absolute;
    right: 0;
    top: 5px;
    width: 0%;
    opacity: 0;
    transition: 0.8s
}
.pesquisa-membro span{
    position: absolute;
    right: 7px;
    top: 10px;
    color: #147f85;
    font-size: 1.2em;
    transition: 0.1s;
    cursor: pointer;
}
.pesquisa-membro span:hover{
    font-size: 1.3em;
}

#limpa-busca{
    position: absolute;
    right: 52%;
    top: 9px;
    font-size: 20px;
    font-weight: 900;
    color: red;
    opacity: 0;
    z-index: 3;
    cursor: pointer;
}

.matched{
    width:60px;
    display: inline-block;
    height: 80px;
    position: relative;
}
.matched img{
    width: 80% !important;
    height: auto !important;
    margin-left: 10%; 
}

.matched p{
    font-size: 10px;
    opacity: 0;
    margin: 0 auto;
    text-align: center;
    transition: 1s;
}

.matched span{
    position: absolute;
    top: 0px;
    right: 0px;
    opacity: 0;
    font-size: 10px;
    color: #FFF;
    background-color: red;
    border-radius: 10px;
    padding: 3px 7px;
    transition: 1s;

}
.matched:hover span{
    opacity: 1;
    cursor: pointer;
}
.matched:hover p{
    opacity: 0.7;
}
.remover-membro span{
    opacity: 0.1;
    color: black;
    cursor: pointer;
    transition: 1s
}
.remover-membro span:hover{
    opacity: 1
}

.foto-usuario-post{
    height: 150px;
    cursor: pointer;
}

.foto-usuario-post img{
    max-width: 100%;
    max-height: 100%;
}
.input-group{
    width: 100%;
}
.input-group h3{
    color: #147f85;
}
.input-group input[type=text]{
    color: #147f85;
    width: 100%;
    border-radius: 5px;
    padding: 3px;
    margin-bottom: 10px;
}
.input-group input[type=submit]{
    float: right; 
    margin-bottom: 20px;
}

@media screen and (max-width: 1040px){
    .btn-membro button{
        font-size: 13px
    }

}
@media screen and (max-width: 1000px){
    .pesquisa-membro{
        margin-top: 20px;
    }
}
@media screen and (max-width: 900px){
    
    .membro-box p a{
        font-size: 1.5vw;
    }
    .membro-box p{
        font-size: 1.4vw;
    }
}
@media screen and (max-width: 1024px){
	.acoes-grupo span {
		font-size: 12px;
	}
	.navegacao-grupo div{
	    font-size: 18px;
	}

}
@media screen and (max-width: 767px){
    .membro-box p a{
        font-size: 3vw;
    }
    .membro-box p{
        font-size: 2.9vw;
    }
    #radio-duvida{
        margin: 20px 0;
    }
    .form-acao button{
        width: 100%
    }
    .form-posts textarea {
        height: 200px;
    }
    #material_post{
        float: right;
    }
    .btn-posts button {
        margin-bottom: 10px;
    }
    .btn-membro button{
        font-size: 18px;
        margin-bottom: 10px;
    }
    #limpa-busca{
        right: 90%;
        top: 27px;
    }

}
@media screen and (max-width: 640px){
    .acoes-grupo span {
        font-size: 9px;
    }

}
@media screen and (max-width: 540px){
	.acoes-grupo span {
		font-size: 9px;
	}

}
@media screen and (max-width: 440px){
    .membro-box p a{
        font-size: 4vw;
    }
    .membro-box p{
        font-size: 3.9vw;
    }
	.acoes-grupo span {
		margin-right: 10px;
	}

	.navegacao-grupo div{
	    font-size: 14px;
	}
}
@media screen and (max-width: 325px){
	.acoes-grupo span {
		font-size: 8px;
		margin-right: 5px;
	}
	.navegacao-grupo div{
	    font-size: 12px;
	}

}