.login{
	margin-top: 40px;
}

.login h2{
    font-size: 50px;
    text-align: center;
    margin: 30px 0;
    color: #0f8086;
}
a p{
    font-size: 15px;
    text-align: center;
    color: #0f8086;
}
.form-group{
	text-align: center;
	margin-bottom: 40px
}
.form-group input{
	width: 60%;
    padding: 5px;
    background-color: #ffffff !important;
}
.btn-logar{
	margin: 0 auto;
	width: 30%;
    position: absolute;
    right: 0;
    left: 0;
    font-size: 20px;
    color: white;
    background: #0f8086;
}

.lista-fake{
	margin: 0;
	padding: 0;
}
.lista-fake li{
	width: 9%;
	margin: 30px 0 30px 3%;
	list-style: none;
	display: inline-block;
}
.lista-fake li .imagemfake{
	width: 100%;
	-webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
     -o-filter: grayscale(100%);
	filter: grayscale(100%);
	transition: 0.4s;
	cursor: pointer;
}
.lista-fake li .imagemfake:hover{
	filter: grayscale(0%);
}

.nome-alunofake{
	padding: 20px;
	font-size: 34px;
	text-align: center;
	font-weight: 900;
	height: 100px;
	color: #0f8086;
}
#loginfake{
	opacity: 0.65; 
	cursor: not-allowed;
}


@media screen and (max-width: 1030px){

	.lista-fake li {
	    width: 10%;
	    margin: 30px 0 30px 5%;
	}
}
@media screen and (max-width: 991px){
	.lista-fake li {    
		width: 15%;
    	margin: 30px 0 30px 8%;
	}

}
@media screen and (max-width: 609px){
	
	.nome-alunofake{
		font-size: 24px;
		height: 80px;
	}

}
@media screen and (max-width: 440px){
	
	.nome-alunofake{
		font-size: 20px;
		height: 70px;
	}
	.lista-fake li {
    width: 25%;
    margin: 30px 0 30px 6%;
}

}
@media screen and (max-width: 400px){
	

}