body{
	background-color: #f8f6f9 !important;
	font-family: 'Roboto', sans-serif;
}
img{
	cursor: pointer;
}
h3{
	
    font-weight: 900;
}
.header{
	background-color: #147f85;
	color: #FFF !important;
    height: 100px;
    padding-top: 15px;
}
.navbar-default {
	border:0;
}
.collapse{
	display: block !important;
}
#logo{
	display: none;
}
.dropdown-menu>li>a {
    white-space: unset !important;
}
.header a{
	color: black !important;
}

.navbar-collapse .collapse {
    display: block!important;
 }
.navbar-header {
    width: 10%;
}

.navbar-brand img{
	width: 40px;
}
.navbar-brand {
	padding: 10px 15px;
}
.navbar-form {
	padding: 10px 0;
	border: 0 !important;
    box-shadow: none !important;
}
.navbar{
    min-height: 70px;
}

.navbar-nav>li>a {
    line-height: 38px;
}

.barra-pesquisa{
	width: 100%;
	position: relative;
}
.barra-pesquisa input[type=text]{
	width: 100%;
	border-radius: 20px;
}
.barra-pesquisa button{
	position: absolute;
	top: 2px;
    right: 0;
    border: 0;
    border-radius: 20px;
}
.pesquisa{
	width: 60%;
}
.moedas{
	padding: 5px;
    width: 100px;
    background-color: #206f74;
    border-radius: 20px;
    margin-top: 15px;
    font-size: 15px;
    font-weight: 900;

}
.pontos{
	padding: 3px;
    background-color: #206f74;
    border-radius: 20px;
    margin-top: 15px;
    font-size: 15px;
    font-weight: 900;

}
.pontos a{
	color: #FFF !important;
    line-height: 0px !important;
    height: 18px;
}
.pontos span{	
    position: absolute;
    right: 3px;
}
.pontos ul{	
    position: absolute;
    right: 3px;
	background-color: #147f85;
}
.moedas img{
	width: 25%;
	margin-right: 4px;
}
.moedas p{
	margin: 0 0 0 0;
    display: inline-block;
}
#itens-direita{
	font-size: 1.8em;
	top: 4px !important;
	color: #025e63;
}
.nova-notificacao{
	color: #FFF !important;
	position: relative;
}
.nova-notificacao span{
	color: #FFF;
	background-color: #9a3c44;
	padding: 3px;
	position: absolute;
	font-size: 14px;
	right: -5px;
	top: -10px;
	display: block;
}
#mobile{
	display: none;
}
.notificacoes {
    width: 400px;
    height: auto;
    padding: 0;
    margin: 0;
}
.notificacoes li{
    height: 110px;
    padding: 0;
    margin: 0;
    color: black;
    border-bottom: 1px solid gray;
    overflow: hidden;
    text-overflow: ellipsis; 
}
#mais-notificacao{
	height: 25px;
	width: 100%;
}
#mais-notificacao p{
	font-size: 14px;
	margin: 0;
	color: #147f85;
	text-align: center;
	vertical-align: middle;
}
#nao-lida{
	background-color: #ace3e6;
}
#notificacao{
	width: 30% !important;
    float: left !important;
    display: inline-block !important;
    border-radius: 0px !important;
}
#notificacao img{
	width: 100% !important;
    height: 100% !important
}
.descricao{
	word-break: break-word;
}
.descricao-notificacoes {
    display: inline-block;
    width: 65%;
    margin-left: 5px;
    padding: 10px 0;
    vertical-align: middle;
}
.descricao-notificacoes p{
	font-size: 16px;
	text-align: left;
	word-break: break-all;
}
.titulo-notificacoes{
	font-weight: 900;
    font-size: 17px;
	color: #206f74;
}
#titulo-notificacao{
	font-size: 18px;
	color: #206f74;
	padding: 5px;
	border-bottom: 1px solid #206f74;
}
#titulo-notificacao span{
	font-size: 12px;
	color: blue;
	float: right;
	cursor: pointer;
	padding: 5px;
}
#titulo-notificacao span:hover{
	text-decoration: underline;
}
#pontuacao {
    width: 250px;
    height: 200px;
    font-size: 0;
    padding: 0;
    margin: 0;
    background: #206f74;
}

#pontuacao li {
    width: 50%;
    height: 85px;
    display: inline-block;
    font-size: 20px;
    padding: 0;
    text-align: center;
    padding-top: 10px;
}

#pontuacao p {
    margin: 0;
    color: #ababab;
}
#pontuacao-total{
	    width: 100%;
    height: 85px;
    font-size: 30px;
    text-align: center;
    background: #147f85;
    padding: 5px;
}
#pontuacao-total p{
	margin: 0 0 -10px;
}
#pontos-more{
	    width: 100%;
    height: 30px;
    font-size: 18px;
    text-align: center;
    padding: 2px;
}
.shyme-box{
	background-color: #FFF;
	border: 1px solid #147f85;
	padding: 15px;

}
.btn-shyme{
	background-color: #FFF;

}
.btn-shyme:hover{
	background-color: #147f85;
	color: #FFF;
}
.box-foto{
	width: 100%;
    overflow: hidden;
	text-align: center;
    border-radius: 20px;
}

.box-foto img{
	left: 50%;
	margin-left: -100%;
	position: relative;
	width: auto !important;
	height: 16vw;
}

.shyme-info{
	text-align: left;
	height: 100%;
	vertical-align: middle;
}
.footer-shyme{
	background: #147f85;
    padding: 30px;
    position: absolute;
    width: 100%;
    color: #FFF;
    margin-top: 50px;
}
.footer-shyme img{
    width: 20%;
}
.footer-shyme h4{
	font-size: 1.5vw;
	font-weight: 700
}
.footer-shyme li{
	font-size: 1vw;
	display: inline-block;
	float: left;
	margin-right: 19px
}
.footer-shyme a{
    color: #FFF;
}
.footer-shyme ul{
    list-style: none;
    padding: 0;
}
.alterar-imagem{
	position: relative;
    background: #147f85;
    padding: 5px;
    bottom: 20px;
    width: 50%;
    font-size: 1vw;
    margin: auto;
    display: none;
}
.alterar-imagem a{
	color: #FFF;
}
.no-padd{
	padding: 0;
}
#pergunta-modal{
	width: 95%;
	border: 0;
}
.campo-responder{
	width: 95%;
    display: table;
    padding: 40px 0;
    margin: 0 auto;
    border-bottom: 1px solid #147f85;
}
.campo-responder input{
	display: inline-block;
    float: left;
}
.campo-responder button{
	display: inline-block;
    float: right;
}

.campo-resposta{
	width: 95%;
    display: table;
    padding: 40px 0;
    position: relative;
    margin: 0 auto;
    border-bottom: 1px solid #147f85;
}

.campo-resposta p{
	word-break: break-all;
	font-size: 1.5vw;
}
.campo-resposta p img{
	max-width: 70%;
    max-height: 500px;
    display: block;
    margin: 10px auto;
    width: auto;
    height: auto;
}
.todas-respostas-modal{
	border: 1px solid #147f85;
    width: 90%;
    margin: 10px auto;
    border-radius: 20px;
}
#ultima-resposta{
	border: 0;
}
#modal-respostas{
	width: 90% !important;
}
.close span{
	color: #FFF;
}
.form-resposta{
	margin-bottom: 20px;
}

#foto-capa{
	position: absolute;
	right: 0;
	opacity: 0.3;
	color: #147f85;
	font-size: 1.5em;
	transition: 1s;
	cursor: pointer;
}
#foto-capa:hover{
	opacity: 1;
}

.paginacao-shyme{
	width: 100%;
    text-align: center;
    margin: auto;
    font-size: 20px;
    color: #147f85;
}
.paginacao-shyme span{
    color: #147f85;
}
.paginacao-shyme a{
    margin: 0 3%;
    top: 3px;
}
.pagina-atual{	
    border: 1px solid;
    padding: 3px 10px;
}
.tipo-postagem{
	color: #147f85;
    position: absolute;
    bottom: 1px;
    left: 20px;
    font-size: 16px;
}
.glyphicon-remove{
	float: right;
    opacity: 0.5;
    transition: 0.5s
}
.glyphicon-remove:hover{
    opacity: 1;
}
.escolher{
	position: absolute;
	right: 0
}
#manual{
	margin-top: 110px;
    margin-bottom: 50px;
}
.titulo-manual{
	background: #0f8086;
    color: #FFF;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
    padding: 10px;
}
.ds-manual{
	    color: #0a8187;
    font-size: 16px;
    font-weight: 100;
    background: #FFF;
    padding: 10px;
}
.redirecionamento-duvida{
	text-align: right;
    font-size: 18px;
    font-weight: 900;
}
.redirecionamento-duvida a{
	color: #0a8187;
}
@media screen and (max-width: 991px){

	
	.footer-shyme img{
	    width: 30%;
	}
	.footer-shyme h4{
		font-size: 3.5vw;
	}
	.footer-shyme li{
		font-size: 2vw;
	}
}

@media screen and (max-width: 1030px){

	.titulo{
		font-size: 2.6vw;
	}
	.descricao{
		font-size: 1.4vw;
	}
	.pesquisa {
	    width: 50%;
	    margin-left: 5% ;
	}
}

@media screen and (max-width: 1000px){
	.header{
		height: auto;
	}
	.navbar-brand img {
	    margin-left: 20px;
	}
	.moedas img {
	    width: 30px;
	    margin: 0 10px;
	    float: left;
	}
	.moedas p {
	    float: left;
	    font-size: 24px;
	    margin: 0;
	}
	.pontos{
		padding: 6px;
		font-size: 24px;
	}
	#itens-direita {
	    font-size: 2em;
	    top: 10px !important;
	}
	.logout{
		margin-left: 25px;
	}
	.navbar-header {
	    width: 13%;
	}
	.navbar-header a{
	    float: right;
	}
	.navbar-right{
		width: 85%;
	}
	.navbar-nav>li {
	    width: 25%;
	    text-align: center;
	}
	#mobile{
		display: block;
	}
	#desktop{
		display: none;
	}
	.pesquisa{
		width: 100%;
		margin-left: 0 !important;
	}
} 




@media screen and (max-width: 767px){
	.navbar-nav .open .dropdown-menu {
	    position: absolute;
	    float: none;
	     width: 310px; 
	    margin-top: 0;
	    background-color: white;
	    border: 1px solid #ccc;
	    border: 1px solid rgba(0,0,0,.15);
	    border-radius: 4px;
	    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	    box-shadow: 
	}
	.titulo{
		font-size: 16px !important;
	}
	.descricao{
		font-size: 10px !important;
	}
	#body-mobile{
		margin-left: 0px !important;
		margin-right:  0px !important;
	}

	.footer-shyme img{
	    width: 30%;
	}
	.colapso{
		width: 100%;
	}
	#logo{
		display: inline-block;
	}
	.navbar-nav>li {
	    width: 20%;
	    display: inline-block;
	    float: left;
	}
	.navbar-header{
		display: none;
	}
	.navbar-right {
	    width: 100%;
	}
	.navbar-form {
		border: 0
	}
	.pontos {
	    padding: 11px 6px;
	    font-size: 20px;
	}
	.moedas p{
	    font-size: 20px;
	}
	#itens-direita {
	    font-size: 1.9em;
	    top: 13px !important;
	}
}

@media screen and (max-width: 644px){
	.notificacoes {
	    width: 400px;
	}
	.dropdown-menu{
		left: -200%;
	}
	.footer-shyme img{
	    width: 35%;
	}

	.alterar-imagem{
	    padding: 0px;
	   font-size: 1.5vw;
	    bottom: 10px;
	}
}

@media screen and (max-width: 544px){
	.descricao {
		margin: 0;
	}
	.footer-shyme li{
		display: block;
		float: none
	}
	.footer-shyme img{
	    width: 75%;
	}
	#pontuacao {
	    width: 90px;
	    height: 200px;
	    font-size: 0;
	    padding: 0;
	    margin: 0;
	    background: #206f74;
	}
	.notificacoes {
	    width: 330px;
	}


	.box-foto{
	    border-radius: 15px;
	}
	.box-foto img{
		height: 100%;
	}
	#pontuacao li {
	    width: 50%;
	    height: 85px;
	    display: inline-block;
	    font-size: 14px;
	    padding: 0;
	    text-align: center;
	    padding-top: 10px;
	}

	#pontuacao p {
	    margin: 0;
	    color: #ababab;
	}
	#pontuacao-total{
		    width: 100%;
	    height: 85px;
	    font-size: 24px;
	    text-align: center;
	    background: #147f85;
	    padding: 5px;
	}
	#pontuacao-total p{
		margin: 0 0 -10px;
	}
	#pontos-more{
		    width: 100%;
	    height: 30px;
	    font-size: 18px;
	    text-align: center;
	    padding: 2px;
	}


	.moedas img {
	    width: 20px;
	}
	.moedas p {
	    font-size: 16px;
	}
	.pontos a {
	   	height: 18px;
	    padding: 10px 0 !important;
	    font-size: 16px;
	}
	.pontos {
	    padding: 6px 2px;
	}
	#itens-direita {
	    font-size: 1.7em;
	    top: 7px !important;
	}
	.navbar-brand img {
	    width: 30px;
	}
}
@media screen and (max-width: 444px){

	.footer-shyme li{
		display: block;
		float: none;
		font-size: 3.1vw;
	}
	.footer-shyme img{
	    width: 80%;
	}
	.box-foto{
	    border-radius: 5px;
	}
	.notificacoes {
	    width: 310px;
	}
	.dropdown-menu{
		left: -240%;
	}
	.caret{
		display: none;
	}
	.moedas img {
	    display: none;
	}
	.nav>li>a {
	    position: relative;
	    display: block;
	    padding: 10px 0px;
	}
	.navbar-brand img {
	    margin-left: 0px; 
	}
	.moedas p {
		float: none;
	    font-size: 16px;
	}
	.pontos a {
	    font-size: 3vw;
	}
	.pontos {
	    padding: 6px 2px;
	}
	#itens-direita {
	    font-size: 1.7em;
	    top: 7px !important;
	}
	.navbar-brand img {
	    width: 30px;
	}
	.colapso {
	    width: 95%;
	    float: right;
	}
	.pesquisa{
		    margin-left: -17px !important;
	}
	.titulo{
		font-size: 3.6vw;
	}
	.descricao {
		font-size: 8px;
		margin: 0;
	}
}
@media screen and (max-width: 400px){

	.ic-grupo span{
		font-size: 12px;
	}
	.footer-shyme li{
		display: block;
		float: none
	}
	.footer-shyme img{
	    width: 92%;
	}
}
