.modal-footer{
    background-color: #FFF;
}
.form-modal{
	color: #147f85;
	
}
.form-modal input[type=text]{
	color: #147f85;
    width: 100%;
    padding: 6px;
    border-radius: 5px;
    font-weight: 900;
    border: 1px solid;

}
.form-modal textarea{
	color: #147f85;
    width: 100%;
    padding: 6px;
    border-radius: 5px;
    font-size: 16px;
    border: 1px solid;

}
.form-modal label{
	font-size: 18px;
	color: black;

}
.image-holder img{
    width: 100%;
    height: 100%;
    box-shadow: 1px 1px 5px black;
}

.image-holder{
    width: 100%;
    height: auto;
    margin-top: 30px;
}

.modal-header {
    padding: 15px;
    background: #147f85;
    color: #FFF;
    font-weight: bolder;
}

.btn-modal{
	padding: 5px 10px;
	border: 1px solid gray;
	color: #147f85;
    background: #FFF;
    border-radius: 5px;
    cursor: pointer;
}
.btn-modal:hover{
	background-color: #147f85;
	color: #FFF
}

.box-foto-modal{
    width: 100%;
    overflow: hidden;
    text-align: center;
    height: 150px
}

.box-foto-modal img{
        left: 50%;
    margin-left: -100%;
    position: relative;
    max-width: 100%;
    max-height: 100%;
}



/* CRIAR GRUPO */


.ic-grupo{
    color: #147f85;
    width: 20%;
    display: inline-block;
    margin: 20px 0px 20px 20%;
    border: 1px solid gray;
    padding: 5px;
    text-align: center;
    border-radius: 5px;
}
.ic-grupo span{
    font-size: 18px;
    margin-right: 5px;
    font-weight: 900;
}
.ic-grupo input{
    color: #147f85;

}


/* GERENCIAR GRUPO */

.grupo h3 {
    text-align: center;
    color: #05747E;
    font-size: 2.5vw;
}
.grupo p{
    text-align: center;
    color: #05747E;
    font-size: 18px;
    font-weight: 700;
}
.scroll{
  height:400px;
   overflow:auto;
    background:#fff;
}
label > div > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > div > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label > div > input + img:hover{ /* IMAGE STYLES */
  opacity: 0.8;
}
label > div > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:10px solid #05747E;
  opacity: 0.5;
}
.gerenciar-grupos {
    border-bottom: 2px solid #147f85;
}


@media screen and (max-width: 767px){

    .box-foto-modal{
        height: 27vw
    }
    .grupo p{
        font-size: 4vw;
    }
    .grupo h3{
        font-size: 7vw;
    }

}
@media screen and (max-width: 444px){

    .box-foto-modal{
        height: 19vw
    }
}