
.titulo-notas{
	font-size: 36px;
	color: #157f89;

    text-align: center;
    font-weight: 900;
}
.notas{
	color: #157f89;
	min-height: 410px ;
	height: auto;
	position: relative;
	padding: 20px;
	margin:30px 0px;
}
.notas h4{
	font-size: 1.3vw;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 900;
}
.notas p{
	font-size: 1vw;
    margin-bottom: 10px;
}
.info-notas{
	bottom: 5px;
	height: 50%;
	vertical-align: middle;
	width: 100%;
}

@media screen and (max-width: 1400px){

	
	.notas{
		min-height: 345px;

	}
}

@media screen and (max-width: 1024px){

	
	.notas{
		min-height: 310px;

	}
}

@media screen and (max-width: 991px){
	.notas{
	    min-height: 402px;
	}
	.notas h4{
		font-size: 2.3vw;
	}
	.notas p{
		font-size: 2vw;
	}
}
@media screen and (max-width: 768px){
	.notas{
	    min-height: 1px;
	}
	.notas h4{
		font-size: 4.3vw;
	}
	.notas p{
		font-size: 3vw;
	}
}