#editar-parceiro p span{
	font-size: 20px;
	color: #0a8187;
	cursor: pointer;
	opacity: 0.5;
	transition: 0.5s;
}

#editar-parceiro p span:hover{
	opacity: 1;
}

#lista-ranking p{
	font-size: 1.1vw !important;
    padding: 5px 10px !important;
}

#lista-ranking{
    text-align: left !important;
}
.ranking-aluno{
	position: relative;
}
.info-ranking-aluno{
	position: absolute;
	display: none;
    z-index: 3;
    bottom: 40px;
    left: 50px;
}

.info-ranking-aluno .membro-box{
	display: block;
}


.post-content{
    height: 200px;
    width: 100%
}
.opcoes-post{
    height: 250px;
    background-color: #FFF;
    border: 1px solid black;
    padding: 5px;
    display: table;
    width: 90%;
    position: relative;
}
.opcoes-post select{
    width: 40%;
}
.agendamento{
    margin-top: 10px;
    border: 1px solid black;
}
.agendamento select{
    width: 55px
}
.agendamento span{
    color: gray;
}
.expiracao{
    margin-top: 10px;
    border: 1px solid black;
}
.expiracao select{
    width: 55px
}
.expiracao span{
    color: gray;
}
.promocao-div{
    margin-top: 10px;
    display: none;
}
.promocao-div select{
    width: 60%;
}
.promocao-div span{
    color: black;
}
.lista-promocoes li img{
    width: 100%;
}
#imagem-lista{
    width: 50px;
    max-height: 15px;
    padding: 2px
}
#dspromo{    
    min-width: 70%;
}
#blockAgendamento{
    position: relative;
    bottom: 0px;
    width: 100%;
    height: 80%;
    z-index: 90;
    background-color: black;
    opacity: 0.3;
}
#imagem-post{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    text-align: center;
}
.remove-foto{
    padding: 0 6px;
    background-color: red;
    position: absolute;
    top: 0px;
    right: 0px;
    color: #FFF;
    border-radius: 20px;
    display: none;
    transition: 2s;
    cursor: pointer;
}
.image-holder{
    position: relative;
    margin-top: 10px
    width: 90%;
    max-height: 80%;
    margin: 0 auto;
}
.image-holder img{
    width: 100%;
    height: 100%;
}
.image-holder:hover .remove-foto{ 
    display: block;
}
#gambi-modal:hover .remove-foto{
    display: none !important;
}



.lista-promocoes{
    font-size: 10px;
    list-style: none;
    display: table;
    width: 100%;
    margin-bottom: 0;
}
.lista-promocoes li{
    max-width: 300px;
    padding: 8px;
    min-height: 50px;
    border: 1px solid #0f8086;
    display: inline-block;
    overflow: hidden;
    float: left;
}
.lista-promocoes li img{
    width: 100%;
}
#imagem-lista{
        width: 10%;
    max-height: 15px;
    padding: 2px
}
#editar-promocao{
    font-size: 20px;
     width: 5%;
    cursor: pointer;
}

#excluir-promocao{
    font-weight: 900;
    font-size: 20px;
    cursor: pointer;
    color: red;
        width: 5%;
}
.titulo-table li{
    font-size: 15px;
    background: #0f8086;
    color: #FFF;
    font-weight: 900;
    text-align: center;
    border: 1px solid black;

}

