

#perfil-foto{
    height: 16.5vw;
}
#perfil-box{
	height: 18.5vw;
	margin-bottom: 40px;
}
#perfil-info{
	position: absolute;
	height: 80%;
	bottom: 0
}


.titulo{
	font-size: 2vw;
	font-weight: 900;
    margin: 0 0 2px;
}
.descricao{
	font-size: 1.5vw;
}
.lista-grupos{
    color: #147f85;
	text-align: center;
}
.lista-grupos h4{
	font-size: 1.3vw;
	display: inline-block;
	margin: 0;
	font-weight: 700
}
.lista-grupos p{
	font-size: 1.6vw;
	display: inline-block;
	margin: 0 ;
	font-weight: 400;
	width: 100%;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.lista-grupos a{
    color: #147f85;
}
.grupo-acao{
	font-size: 1vw;
    cursor: pointer;
}

#grupo{
	padding: 5px;
	margin-top: 10px;
}


.ultimas-postagens{
    color: #147f85;
}
.ultimas-postagens h4{
	font-size: 1.5vw;
	display: inline-block;
	margin: 0;
	font-weight: 700
}
.ultimas-postagens p{
	font-size: 1.6vw;
	display: inline-block;
	margin: 0 ;
	font-weight: 400
}

.postagem-perfil{
	margin-top: 20px;
}
#primeira-postagem{
	margin-top: 0
}
.postagem-perfil h4 a{
    color: #147f85;
	font-size: 1.6vw;
	font-weight: 900
}

.postagem-perfil p a{
    color: #147f85;
	font-size: 18px;
    word-break: break-word;
}
.postagem-perfil p{
    color: #147f85;
    font-size: 16px;
    margin-top: 15px;
    font-weight: 400;
    word-break: break-all;
}

.postagem-perfil-img{
    max-width: 70%;
    max-height: 500px;
    display: block;
    margin: 10px auto;
    width: auto;
    height: auto;
}

.final-post{
	    text-align: right;
    margin-top: 20px;
    border-top: 1px solid;
    padding-top: 10px;
}
.final-post span{
	padding: 5px 15px;
	font-size: 14px;
}
.final-post span:hover{
    background-color: #147f85;
}
.final-post a:hover{
   color: #FFF;
   text-decoration: none;
}

#last-post {
    width: 80px;
    height: 80px;
    float: left !important;
    display: inline-block !important;
    border-radius: 0px !important;
    margin-right: 10px;
}
#last-post img{    
	width: 100% !important;
    height: auto;
}
#secundario{
	margin-top: 20px;
}

@media screen and (max-width: 1030px){

	#perfil-box{
		height: 19.5vw;
	}
}
@media screen and (max-width: 991px){
	.lista-grupos h4{
		display: block;
		font-size: 2.7vw;
	}

	#secundario {
	    margin-top: 3.4vw;
	}

	#body-mobile{
		margin-left: 0px !important;
		margin-right:  0px !important;
		margin-top:  0px !important;
	}
	
	.ultimas-postagens h4{
		font-size: 4vw;
		margin: 20px 0 0 0;
	}
	.grupo-acao{
		font-size: 3vw;
	}
	.lista-grupos p{
		font-size: 3vw;
	}
	#grupo {
	    margin-top: 2px;
	}


	.postagem-perfil h4 a{
		font-size: 4.6vw;
	}


}


@media screen and (max-width: 768px){

	#perfil-box{
		height: auto;
	}
	.postagem-perfil h4{
		margin: 0 0 5px;
	}
	.final-post span{
		padding: 5px;
	}
	#secundario {
	    margin-top: 3.7vw;
	}
	#perfil-info{
		position: inherit;
		height: auto;
	}
	#btn-download{
		width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	}
}
@media screen and (max-width: 544px){
	#secundario {
	    margin-top: 3.9vw;
	}
}
@media screen and (max-width: 444px){
	#secundario {
	    margin-top: 4.6vw;
	}
	.lista-grupos h4 {
	    font-size: 3.2vw;
	}
	.postagem-perfil p a{
		font-size: 12px;
	}
}
@media screen and (max-width: 400px){
	#secundario {
	    margin-top: 5.7vw;
	}
	.lista-grupos h4 {
	    font-size: 3.2vw;
	}
}
@media screen and (max-width: 325px){
	.moeda_duvida div {
	    padding: 10px 19px 10px 7px !important;
	}	
}